.topic{
    font-size:40px;
    font-weight:bold;
    text-align: center;

    background: linear-gradient(to bottom, darkblue, blue, lightskyblue);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
