.topic{
    font-size:40px;
    font-style: italic;
    font-weight:bold;
    text-align: center;

    background: linear-gradient(to bottom, darkblue, blue, lightskyblue);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.navigation{
    align-items: center;

    justify-content:space-between;
}

.image{
    transition: color;
}

.all{
    text-align: center;
    color: darkblue;
    background-color: lightyellow;
}

h3#ko{
    color: lightskyblue;
}